<top>

    <logo> <i class="fas fa-shopping-bag"></i> <a href="/" class="text-decoration-none"> MyWear </a> </logo>

    <categories>
        <a class="categories-button" href="/"> <i class="fas fa-bullhorn"></i> WHAT'S NEW </a>
        <a class="categories-button" href="/women"> <i class="fas fa-female"></i> WOMEN </a>
        <a class="categories-button" href="/men"> <i class="fas fa-male"></i> MEN </a>
        <a class="categories-button" href="/accessories"> <i class="fas fa-gem"></i> ACCESSORIES </a>
    </categories>

</top>


<new-collection>
    
    <a href="/new" alt="New collection" class="new-collection-button"> NEW COLLECTION  </a>

</new-collection>

<items>

    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>
    <a href="/ITEM-ID" alt="ITEM-NAME" class="index-item"> 
        <img src="/images/none.png" alt="ITEM-NAME">
    </a>

</items>

<footer>

    <p> <i class="fas fa-copyright"></i> 2016 - 2020 MyWear S.p.A. - All rights reserved. G Commerce Europe S.p.A. </p>
    
</footer>